# App
PORT=5000
PUBLIC_BASE_URL=http://localhost:5000
SESSION_SECRET=change-me-to-a-random-long-string
TRICK_RUNNER_INTERVAL=3600

# Meta
FB_ACCESS_TOKEN=
FB_API_VERSION=v21.0

# MongoDB
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=fb_catalog_dashboard
